@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
/*
@font-face {
	font-family: 'dohyeon';
	src: url(fonts/BMDOHYEON_ttf.ttf) format('truetype');
}

@font-face {
        font-family: 'hanna';
        src: url(fonts/BMHANNA_11yrs_ttf.ttf) format('truetype');
}

@font-face {
        font-family: 'hanna';
        src: url(fonts/BMJUA_ttf.ttf) format('truetype');
}
*/
